name: Deploy master
on:
  push:
    branches:
    - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout source code
      uses: actions/checkout@v2

    - name: Generate deployment package
      run: zip -r Sample.zip . -x '*.git*'

    - name: Deploy to EB
      uses: einaregilsson/beanstalk-deploy@v21
      with:
        aws_access_key: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws_secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY_ID }}
        application_name: docker-react
        environment_name: Docker-react-env
        version_label: ${{ github.sha }}
        existing_bucket_name: elasticbeanstalk-us-east-1-723794575270
        region: us-east-1
        deployment_package: Sample.zip